
{% extends "base.html" %}

{% block script %}
    <script src = "/static/js/recipes.js"></script>
    <script src = "/static/js/likes.js"></script>
{% endblock %}

{% block content %}
    {% if recipes %}
    <ul class = "rec">
            {% for recipe in recipes %}
            <li> <a href = {{recipe.id}}/>{{recipe.title}}:</a>
                <i class = "fas fa-heart"id = "like" data = "{{ recipe.id }}" ></i> <span id = "like{{ recipe.id }}" >{{recipe.likes.count}}</span></li>
            {% endfor %}
    </ul>
             <div id="cont{{recipes.next_page_number}}"></div>
            <button id="js-pagination" data="{{recipes.next_page_number}}">Загрузить еще</button>

    {% endif %}
{% endblock %}
